.container {
    display: inline-flex;
    flex-direction: column-reverse;
}
.videocontainer iframe{
  margin: 0 auto;
  display: block;
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
}
/*media Querie*/
@media (min-width:500px) {
  .main-header
  .main-nav li {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
   .body {
     display:flex;
     flex-direction: row-reverse;
     min-height: 100vh;
   }
   .row {
     flex: 1;
   }
